*{
  margin: 0;
}
.body{
  background-color: rgb(240, 236, 241);
  height: 794px;
}
.rectangle{
  position: absolute;
width: 508px;
height: 188px;
left: 322px;
top: 256px;

background: #FFFFFF;
box-shadow: 0px 4px 12px 1px rgba(142, 175, 183, 0.25);
border-radius: 8px;
margin-left: 190px;

}
.line3{
  position: absolute;
    width: 187px;
    height: 0px;
    left: 65px;
    top: 92px;
    border: 1px solid #D0D7E8;
    transform: rotate(
90deg);
}
.line2{
  position: absolute;
    width: 158px;
    height: 0px;
    left: 0px;
    top: 127px;
    border: 1px solid #D0D7E8;
}
.line1{
  position: absolute;
    width: 59px;
    height: 0px;
    left: 49px;
    top: 157px;
    border: 1px solid #D0D7E8;
    transform: rotate(
-90deg);
}
.text-0{
  position: absolute;
  width: 30px;
  height: 68px;
  left: 65px;
  top: 32px;
  font-family:  'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 68px;
  text-align: center;
  color: #8192EE;
  cursor: pointer;

}
.increment{
  position: absolute;
    width: 23px;
    height: 53px;
    left: 25px;
    top: 132px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 39px;
    line-height: 53px;
    text-align: center;
    color: #96A1DC;
    cursor: pointer;
}
.decrement{
  position: absolute;
    width: 13px;
    height: 53px;
    left: 111px;
    top: 128px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 39px;
    line-height: 53px;
    text-align: center;
    color: #96A1DC;
    cursor: pointer;
}
.heading{
  position: absolute;
  width: -18.540000000000006px;
  height: 22px;
  left: 178px;
  top: 19px;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #3A4477;
}

.discription{
  position: absolute;
  width: 314px;
  height: 57px;
  left: 179px;
  top: 52px;
  font-family:'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #626B9A;
  
}
.reset{
  position: absolute;
  width: 156px;
  height: 19px;
  left: 325px;
  top: 143px;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #526CC6;
  cursor: pointer;
}